@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Mostrar empleados IT y FINANCE <a href="https://localhost:7164/Home/MostrarEmpleados_IT_FINANCE">MOSTRAR TABLA</a>.</p>
    <br />
    <p>VER JSON DE LA CONSULTA EMPLEADOS <a href="https://localhost:7164/api/ExamenFinal/empleados">MOSTRAR JSON</a>.</p>

</div>
